body {
  background-color: #deebee;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  font-family: sans-serif;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 78px;
  height: 78px;
  font-size: 35px;
}

.logo img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s, 1s, 0.3s;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: purple;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  margin-right: 25px;
}

li a:hover {
  color: #333;
  text-decoration: underline;
  transition: all ease-in-out 0.2;
}

/*        home      */

.container {
  background-color: #deebee;
  padding: 90px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
}

.content h1 {
  text-align: left;
  font-size: 48px;
  color: #1c0bb4d5;
  margin: 0;
  padding: 12px;
  padding-left: 0;
}

.content h3 {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.content h3 span {
  color: #333;
}

.content p {
  font-size: 20px;
}

.container .img img {
  width: 300px;
  box-shadow: 0 0 8rem hsl(303, 97%, 27%);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.container .img img:hover {
  box-shadow: none;
  transform: scale(1.1);
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid #46382dd5;
  border-radius: 50%;
  margin-bottom: 16px;
  text-decoration: none;
  font-size: 22px;
}

.social-media a:hover {
  background: #46382d;
  color: #fff;
  box-shadow: #330235 1px 2px 50px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #ff7bf8;
  border-radius: 4rem;
  box-shadow: 0 0 1rem hsl(303, 97%, 27%);
  text-decoration: none;
  color: white;
  font-weight: 600;
  max-width: 100px;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: none;
}

/*        about      */

.Aboutme {
  background-color: #deebee;
  margin-top: 10px;
}

.about {
  padding: 90px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about .left {
  background-color: #fff;
  border: 1px solid #f57373;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.about .left img {
  width: 340px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px #deebee;
}

.about .left:hover {
  border: none;
  padding: none;
  background-color: #fff;
  transform: scale(1.1);
}

.about .right p {
  font-size: 20px;
  margin-top: 30px;
}

.about .right h1 span {
  color: #5e3bee;
}

* {
  list-style: none;
}

h1 {
  align-items: center;
  color: #333;
}

h3 {
  margin: 5px;
  color: #333;
}
/*                project                */

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  background-image: url(project\ backdround.webp);
  color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card i {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffeb3b;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  margin-top: 5px;
  color: #d66262;
}

/*                project end               */

/*                skills               */

.skills-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 98%;
  margin-bottom: 0px;
  margin-top: 30px;
  padding: 2px 30px;
  border: 20px;
  border-radius: 10px;
}

.skill {
  margin-bottom: 25px;
}

.skill-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.skill-label i {
  font-size: 24px;
  margin-right: 10px;
  color: #ff5722;
}

.progress-bar {
  width: 100%;
  height: 25px;
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12.5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #6200ea;
  border-radius: 12.5px 0 0 12.5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: width 2s ease-in-out;
}

/*                skills end               */

/*                Contact                 */

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #deebee;
}

.contact-form {
  background-color: #deebee;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="email"] {
  cursor: pointer;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ff7bf8;
  border-radius: 4rem;
  box-shadow: 0 0 1rem hsl(303, 97%, 27%);
  text-decoration: none;
  color: white;
  font-weight: 500;
  max-width: 60px;
  transition: all 0.3s ease;
}

.form-btn:hover {
  box-shadow: none;
}

/*                Contact end                 */

/*                footer                 */

.unique-footer {
  background-color: #deebee;
  padding: 20px;
  text-align: center;
}

.footer-content {
  color: #666;
}

.footer-section-social {
  cursor: pointer;
}

/*                                                            Responsive                                                            */

@media only screen and (max-width: 320px) {
  .navbar {
    display: flex;
  }

  .logo img {
    display: none;
  }

  .navlinks {
    display: flex;
    justify-content: start;
    margin-right: 10%;
  }

  .navlinks a {
    margin: 15px;
  }

  .content h3 {
    margin-left: 10%;
    font-size: 24px;
  }

  .content p {
    margin-left: 10%;
  }

  .content h1 {
    margin-left: 10%;
    font-size: 30px;
  }

  .content .btn {
    margin-left: 20%;
  }

  .container .img img {
    width: 80%;
    max-width: 280px;
    margin-left: 12%;
  }

  .about .left img {
    max-width: 230px;
  }

  .about .right h1 {
    font-size: 20px;
  }

  .about .right h3 {
    font-size: 20px;
  }

  .about .right p {
    font: 1em sans-serif;
  }

  .contact-form-container .form-group {
    padding: 10px;
    width: 105%;
  }

  .form-btn {
    margin-left: 8%;
  }

  .unique-footer {
    font-size: 15px;
  }
}

@media (min-width: 375px) and (max-width: 424.98px){
  .navbar {
    display: inline-block;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .navlinks {
    display: flex;
    margin-left: 1px;
  }

  .navlinks a {
    font-size: 13px;
  }

  .content .btn {
    margin-left: 36%;
  }

  .container .img img {
    width: 80%;
    max-width: 280px;
    margin-left: 18%;
  }

  .about .left img {
    max-width: 230px;
  }

  .about .right h1 {
    font-size: 28px;
  }

  .about .right h3 {
    font-size: 20px;
  }

  .about .right p {
    font: 1em sans-serif;
  }

  .card-container {
    margin-left: 8%;
  }

  .contact-form-container .form-group {
    padding: 10px;
    width: 105%;
  }

  .form-btn {
    margin-left: 8%;
  }

  .unique-footer {
    font-size: 15px;
  }
}

@media (min-width: 425px) and (max-width: 575.98px){
  .navlinks {
    display: flex;
  }

  .navlinks a {
    margin-left: 24%;
    font-size: 14px;
  }

  .navbar,
  .contact-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .content h1 {
    margin-left: 18%;
    font-size: 29px;
  }

  .content h3 {
    margin-left: 16%;
    font-size: 24px;
    position: relative;
  }

  .content p {
    margin-left: 17%;
    font: 1em sans-serif;
  }

  .content .social-media {
    margin-left: 15%;
  }

  .content .btn {
    margin-left: 41%;
  }

  .container .img img {
    width: 90%;
    max-width: 280px;
    margin-left: 17%;
  }

  .about .left {
    margin-left: 17%;
  }

  .about .left img {
    max-width: 250px;
  }

  .about .right {
    margin-left: 15%;
  }

  .about .right h1 {
    font-size: 25px;
  }

  .about .right h3 {
    font-size: 30px;
  }

  .about .right p {
    margin: 0%;
    font: 1em sans-serif;
  }

  .card-container {
    margin-left: 15%;
  }

  .skills-container {
    margin-left: 8%;
  }

  .contact-form-container {
    margin-left: 6%;
  }

  .form-btn {
    font-size: 14px;
    width: 45px;
    padding-left: 15px;
  }

  .unique-footer {
    margin-left: 22%;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    display: inline-block;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .navlinks {
    display: flex;
    margin-left: 1px;
  }

  .navlinks a {
    font-size: 17px;
  }

  .content h3 {
    margin-left: 10%;
    font-size: 27px;
  }

  .content p {
    font-size: 15px;
    padding: 0%;
    margin-left: 1%;
  }

  .content h1 {
    margin-left: 10%;
    font-size: 35px;
  }

  .content .social-media {
    margin-left: 8%;
  }

  .content .btn {
    margin-left: 48%;
  }

  .container .img img {
    width: 100%;
    max-width: 280px;
    margin-left: 12%;
  }

  .about .left {
    margin-left: 2%;
  }

  .about .left img {
    max-width: 320px;
  }

  .about .right {
    margin-left: 1%;
  }

  .about .right h1 {
    font-size: 32px;
  }

  .about .right h3 {
    font-size: 30px;
  }

  .about .right p {
    width: 95%;
    font: 1em sans-serif;
  }

  .card-container {
    width: 95%;
    padding: 3%;
  }

  .skills-container .skill {
    padding-right: 3%;
  }

  .contact-form-container h2 {
    margin-left: 12%;
  }

  .contact-form-container .form-group {
    width: 99%;
  }

  .form-btn {
    font-size: 14px;
    width: 46px;
    padding-left: 15px;
  }

  .unique-footer {
    margin-left: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container .content h1 {
    text-align: center;
  }

  .container,
  .about,
  .skills-container {
    margin: 0;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .content .btn {
    margin-left: 43%;
  }

  .container .img img {
    width: 100%;
    max-width: 350px;
    margin-left: 1%;
  }

  .card-container {
    width: 95%; 
  }

  .skills-container{
    width: 100%;
    padding-bottom: 0%;
  }
}
